@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");
#botonCarrito {
  border: 0;
  margin-left: 10px;
  mix-blend-mode: multiply;
  filter: brightness(1.1); }

.header {
  background-color: #ece8e5;
  border-bottom: solid lightgrey 2px; }
  .header__navbar {
    padding: 1rem 0px; }
  .header__logo {
    background-color: transparent; }

.navbar-nav .dropdown-menu {
  position: absolute; }

@media screen and (min-width: 1024px) {
  .navbar-expand-lg .navbar-collapse {
    max-width: 400px; } }

.dropdown-toggle::after {
  vertical-align: .155em; }

.navbar-brand img {
  width: 140px; }
  @media screen and (max-width: 425px) {
    .navbar-brand img {
      width: 100px; } }

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: burlywood; }

.navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl {
  justify-content: space-around; }

.navbar-nav {
  align-items: center; }

div main article div {
  width: 100px;
  margin: 0px;
  text-align: center;
  background-image: url(../img/img-noise-100x26.png);
  border-radius: 27px 27px 27px 27px; }

@media screen and (max-width: 768px) {
  article {
    max-width: 300px; } }

@media screen and (max-width: 425px) {
  article {
    max-width: 200px; } }

@media screen and (min-width: 1024px) {
  article {
    max-width: 400px; } }

div main article div:hover {
  transform: scale(1.1); }

.main {
  height: 300px;
  margin-left: 15%;
  padding-top: 50px; }
  .main__shop {
    color: beige;
    font-size: 1rem; }
  .main__shop:hover {
    color: #f7f7ee; }
  .main__titulo {
    font-size: 4rem;
    letter-spacing: 4px; }
    @media screen and (max-width: 768px) {
      .main__titulo {
        font-size: 8vw; } }

.row > * {
  padding-right: calc(var(--bs-gutter-x) * 2.3); }

/* SECTION 1 */
.section {
  margin: 3% 0px; }
  .section__div {
    display: flex;
    width: 320px;
    justify-content: center;
    padding: 0px; }
    @media screen and (max-width: 425px) {
      .section__div {
        margin: 2px; } }
    @media screen and (max-width: 320px) {
      .section__div {
        min-width: 290px;
        margin-bottom: 10px; } }
    .section__div__logo {
      height: 64px; }
      @media screen and (max-width: 425px) {
        .section__div__logo {
          max-width: none; } }
    .section__div__texto {
      padding: 1px; }
      @media screen and (max-width: 425px) {
        .section__div__texto article {
          font-size: 12px; } }
  .section__div div {
    padding-left: 10px; }
  @media screen and (max-width: 768px) {
    .section h3 {
      font-size: calc(1.1rem + .1vw); } }

@media screen and (max-width: 425px) {
  .row {
    margin: 0px; } }

.columna div {
  padding: 30px;
  text-align: left; }

.columna div article {
  margin-bottom: 30px; }
  @media screen and (max-width: 768px) {
    .columna div article {
      font-size: 13px; } }

.columna div p {
  color: gray;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px; }

.columna div a {
  color: gray;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px; }

.columna div h3 {
  font-size: 1.4rem; }
  @media screen and (max-width: 768px) {
    .columna div h3 {
      font-size: calc(1.1rem + .1vw); } }

.gridNuevo div img {
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  width: 159px;
  height: 191px; }

.columna {
  background-color: #ece6ed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 27px 27px 27px 27px;
  width: 30%; }
  @media screen and (max-width: 768px) {
    .columna {
      width: 250px;
      margin: 15px; } }

.container {
  padding-bottom: 50px; }

.gridNuevo {
  justify-content: space-evenly;
  display: flex;
  margin: 0px 10%; }
  @media screen and (max-width: 768px) {
    .gridNuevo {
      flex-wrap: wrap; } }

/* SECTION 2 */
.grid div img {
  width: 250px;
  height: 250px;
  border-radius: 30px 30px 30px 30px; }

.grid {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 10%; }
  @media screen and (width: 1024px) {
    .grid {
      margin: 50px 5%; } }
  @media screen and (width: 1024px) {
    .grid div {
      padding: 0px 10px; } }
  @media screen and (width: 1024px) {
    .grid div a img {
      padding: 10px;
      width: 200px;
      height: 200px; } }

.sectionDos {
  padding: 1px; }
  @media screen and (max-width: 768px) {
    .sectionDos {
      display: none; } }
  .sectionDos__containerDos {
    margin-top: 10%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .sectionDos__categoria {
    font-size: 1rem;
    color: black; }
  .sectionDos__nombrePrecio {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 2px 0px; }
  .sectionDos__nombrePrecio:hover {
    color: lightpink; }
  .sectionDos__containerDos h2 {
    font-weight: bold; }

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 10%; }
  .footer__nav ul {
    list-style: none;
    padding: 0px;
    font-size: 0.8rem; }
  .footer__nav h4 {
    font-weight: bold;
    font-size: 1rem; }
  .footer__nav ul li a {
    color: black; }
  .footer__logo {
    width: 100px; }

a {
  color: #222;
  text-decoration: none; }

h2 {
  font-size: 1em; }

.mainStore {
  display: flex;
  justify-content: space-around;
  padding: 40px 0px; }
  .mainStore__categoryListing {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 6rem;
    list-style: none;
    padding: 0; }
    @media screen and (max-width: 768px) {
      .mainStore__categoryListing {
        grid-template-columns: repeat(3, 1fr); } }
    @media screen and (max-width: 425px) {
      .mainStore__categoryListing {
        grid-template-columns: repeat(1, 1fr); } }
  .mainStore__item .product-details {
    justify-self: center;
    align-self: center;
    text-align: center;
    color: #222;
    width: fit-content; }

ul li .product-details h2 {
  margin: 5px 0;
  width: fit-content; }

ul li .product-details p {
  margin: 5px 0;
  width: fit-content; }

.prod-image img {
  width: 15rem;
  height: 15rem; }
  @media screen and (width: 1024px) {
    .prod-image img {
      width: 150px;
      height: 170px; } }
  @media screen and (max-width: 768px) {
    .prod-image img {
      width: 150px;
      height: 150px; } }

.testimonial__card__content__image:hover {
  transform: scale(1.2); }

.testimonial__card__content__image img {
  width: 128px;
  height: 128px; }

.testimonial {
  margin: 100px auto 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px; }

.testimonial__card {
  display: flex;
  align-items: flex-start; }

.testimonial .testimonial__card {
  position: relative;
  margin: 0 auto;
  width: 350px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
  overflow: hidden; }
  @media screen and (max-width: 320px) {
    .testimonial .testimonial__card {
      width: 300px;
      margin: 20px 10px; } }

.testimonial .testimonial__card .testimonial__card__content {
  position: relative;
  z-index: 2; }

.testimonial .testimonial__card .testimonial__card__content p {
  font-size: 18px;
  line-height: 24px; }

.testimonial .testimonial__card .testimonial__card__content .testimonial__card__content__image {
  width: 128px;
  height: 128px;
  margin: 15px auto;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.testimonial .testimonial__card .testimonial__card__content .testimonial__card__content__details h2 {
  font-size: 18px; }

.testimonial .testimonial__card .testimonial__card__content .testimonial__card__content__details span {
  color: black;
  font-size: 14px;
  transition: 0.5s; }

.testimonial .testimonial__card:hover .testimonial__card__content .testimonial__card__content__details span {
  color: #03a9f4; }

.col-4 {
  margin-top: 18px;
  margin-left: 100px; }
  @media screen and (max-width: 768px) {
    .col-4 {
      margin-bottom: 50px; } }
  @media screen and (max-width: 425px) {
    .col-4 {
      width: 300px; } }

.col-8 {
  max-width: 550px; }

.orden {
  display: flex;
  justify-content: center; }

@media screen and (max-width: 768px) {
  .row {
    justify-content: center; } }

.formulario {
  padding: 0px; }

.formulario__div {
  margin: 15px 0 0 0; }

.formulario__div p {
  padding: 0 0 4px 0; }

.formulario__div span {
  float: left;
  width: 150px;
  text-align: left; }

.formulario__div input, .formulario__div textarea {
  padding: 5px;
  width: 299px;
  font: 100% arial;
  border: 1px solid #E5E5DB;
  background: #FFF;
  color: #47433F; }
  @media screen and (max-width: 425px) {
    .formulario__div input, .formulario__div textarea {
      max-width: 240px; } }

.formulario__div .submit {
  font: 100% arial;
  border-radius: 25px;
  border: 1px solid;
  width: 100px;
  margin: 0 0 0 150px;
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer;
  background: #000;
  color: #fff; }

.formulario__div textarea, .formulario__div select {
  font: 100% arial;
  width: 299px; }

.formulario__div select {
  width: 310px; }

.formulario__div .checkbox {
  margin: 4px 0;
  padding: 0;
  width: 14px;
  border: 0;
  background: none; }

.error {
  background-color: #faf6f2;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .error__titulo {
    font-size: 5rem; }
  .error__imagen {
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    width: 400px;
    height: 700px; }
  .error__boton {
    font-size: 2rem;
    margin: 0px;
    text-align: center;
    background-image: url(../img/img-noise-100x26.png);
    border-radius: 27px 27px 27px 27px;
    padding: 5px; }

.justify-content-md-center {
  width: 100%; }

.imgStoreOut {
  width: 25rem;
  border-radius: 33px 33px 33px 33px; }
  @media screen and (width: 1024px) {
    .imgStoreOut {
      width: 23rem; } }
  @media screen and (max-width: 425px) {
    .imgStoreOut {
      width: 17rem; } }

.mainArreglo {
  padding: 100px;
  max-width: 1500px;
  margin: auto;
  flex-wrap: wrap; }
  @media screen and (width: 1024px) {
    .mainArreglo {
      padding: 30px; } }

@media screen and (width: 1024px) {
  .mainArreglo__div {
    padding: 30px; } }

@media screen and (max-width: 768px) {
  .mainArreglo__div {
    padding: 30px; } }

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

body {
  font-family: 'Urbanist', sans-serif;
  font-size: 1.1rem;
  background-color: #faf6f2; }

a {
  text-decoration: none; }

/* Fondo header y div */
.imgFondo {
  background-image: url(../img/planta.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
  border-radius: 0px 0px 70px 70px;
  width: 100%; }
