@import "./responsive";
@import "./colores";


    
form label, form input, form textarea{
    display: block;
    margin-top: 10px;
    width: 80%
}

form input, form textarea{ 
    padding: 10px;
    border: solid 1px #BDC7D8; 
}

.mainForm{
    display: flex;
    justify-content: center;
}

.divTituloForm{
    width: 40%;
}

.tituloForm{
    text-align: center;
    margin: 40px 0px ;
    
}

.formGeneral{
    width: 50%;
}

.button {
    background-color: #00BFFF ;
    border-color: #3ac162;
    font-weight: bold;
    padding: 12px 15px;
    color: #ffffff;
}
.errorMsg {
    color: #cc0000;
    margin-bottom: 10px;
    display:none;
}

/