@import "./responsive";
@import "./colores";

.col-4{
    margin-top: 18px;
    margin-left: 100px;
    @include tablet{
        margin-bottom: 50px;
    }
    @include movil{
        width: 300px;
    }
}

.col-8{
    max-width: 550px;
}

.orden{
    display: flex;
    justify-content: center;
}

.row{
    @include tablet{
        justify-content: center;
    }
}
.formulario{
    padding: 0px;
}
.formulario__div { 
	margin: 15px 0 0 0;
}

.formulario__div p { 
	padding: 0 0 4px 0;
}

.formulario__div span { 
	float: left; 
    width: 150px; 
    text-align: left;
}

.formulario__div input, .formulario__div textarea {
	padding: 5px; 
	width: 299px; 
	font: 100% arial; 
	border: 1px solid #E5E5DB;
	background: #FFF; 
	color: #47433F;
    @include movil{
        max-width: 240px;
    }
}

.formulario__div .submit { 
	font: 100% arial; 
	border-radius: 25px;
    border: 1px solid; 
    width: 100px; 
    margin: 0 0 0 150px; 
    height: 33px;
    padding: 2px 0 3px 0;
    cursor: pointer; 
    background: #000; 
    color: #fff;
}

.formulario__div textarea, .formulario__div select { 
	font: 100% arial; 
    width: 299px;
}

.formulario__div select { 
	width: 310px;
}

.formulario__div .checkbox { 
	margin: 4px 0; 
    padding: 0; 
    width: 14px;
    border: 0;
    background: none;
}

