@import "./responsive";

#botonCarrito {
    border: 0;
    margin-left: 10px;
    mix-blend-mode: multiply;
    filter: brightness(1.1);
}

.header{
    background-color: $beige;
    border-bottom: solid lightgrey 2px ;
    &__navbar{
        padding: 1rem 0px;
    }
    &__logo{
        background-color: transparent;
    }
}

.navbar-nav .dropdown-menu{
    position: absolute;

}

.navbar-expand-lg .navbar-collapse{
    @include minLaptop{
        max-width: 400px;
    }
}

.dropdown-toggle::after{
    vertical-align: .155em;
}

.navbar-brand img{
    width: 140px;
    @include movil{
        width: 100px;
    }
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: burlywood;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
    justify-content: space-around;
}

.navbar-nav{
    align-items: center;
}